html,
body {
    background-color: #041B43;
    color: #FFF;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.right-dir {
  direction: rtl;
  text-align: right;
}

#work-in-progress {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 150px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  z-index: 200000;
  background-color: #FFF;
  display: flex;
  flex-flow: column;
  justify-content: center;
  opacity: 1;
}

.work-spinner {
  background-color: rgba(223, 45, 45, 0);
  border: 5px solid rgba(5, 24, 121, 0.9);
  opacity: .9;
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 120px;
  /* -webkit-box-shadow: 0 0 35px #1B3DE2; */
  /* box-shadow: 0 0 35px #1B3DE2; */
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -moz-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

@-moz-keyframes spin {
 from {
     -moz-transform: rotate(0deg);
 }
 to {
     -moz-transform: rotate(360deg);
 }
}

@-webkit-keyframes spin {
 from {
     -webkit-transform: rotate(0deg);
 }
 to {
     -webkit-transform: rotate(360deg);
 }
}

@keyframes spin {
 from {
     transform: rotate(0deg);
 }
 to {
     transform: rotate(360deg);
 }
}
@-o-keyframes spin {
 from {
     transform: rotate(0deg);
 }
 to {
     transform: rotate(360deg);
 }
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #515151; 
  border-radius: 10px;
}

.navbar {
  width: 100%;
  height: 75px;
  z-index: 102;
  background-color: transparent;
  line-height: 60px;
  position: absolute;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}

nav .navbar-brand:hover {
  border: 0;
  text-decoration: none;
  border-bottom: none;
}

nav .navbar-brand img {
  width: 125px;
  height: 55px;
}

nav ul {
  white-space: nowrap;
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-child) {
    padding-right: 1rem;
}

nav a {
  border: 0;
}

nav ul li a {
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
}

nav a.active,
nav a:hover {
  color: #FFF;
  transition: 0.5s;
  font-weight: bold;
  text-decoration: none;
}

/* start header */

.header {
    background: url(img/home-bg.svg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 7rem;
}

.header .group {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 100vh;
}

.header h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.header p {
    font-size: 16px;
}

/* end header */

/* start about */

.about {
    background-color: #13294E;
    width: 90%;
    height: 100%;
    margin-bottom: 7rem;
}

.about img {
    width: 80%;
    height: auto;
    background-size: cover;
}

.about .group {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.about h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.about p {
    font-size: 16px;
    line-height: 1.5;
}

/* end about */

/* start why */

.why {
    margin-bottom: 5rem;
    margin-top: 12rem;
}

.why .group {
    display: flex;
    background-color: #13294E;
    border: 1px solid #13294E;
    border-radius: 10px;
    margin-left: 2%;
    max-width: 39.6%;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.why img {
    margin-right: 1rem;
}

.why h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.why .pad {
 padding: 0;
}

.why p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.why .p1 {
    font-size: 14px;
    text-align: left;
}

.why .h1 {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}

/* end why */

/* start album */

.album {
  margin-top: 12rem;
}

.album h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.album p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.album .album-img {
    width: 100%;
    height: auto;
    padding: .5rem;
}

.album .album-img img {
    width: 100%;
    height: auto;
}

.album .album-a {
    text-align: center;
    margin-top: 2rem;
}

.album .hide {
  display: none;
}

.album a {
    color: #FFF;
    padding: .8rem;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    text-decoration: none;
    background-color: #009BDB;
    font-size: 14px;
    border-radius: 24px;
    border: none;
    margin-top: 2rem;
}

/* end album */

/* start Testimonials */


.Testimonials {
  padding-top: 12rem;
  height: 100%;
  margin-bottom: 5rem;
}

.Testimonials .icon {
    text-align: center;
}


.Testimonials h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.Testimonials p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 2rem;
}

.Testimonials .buttom {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.Testimonials .buttom .img-3 {
  margin-right: 1rem;
}

.Testimonials .icon p {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 2rem;
}

.Testimonials .icon h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.Testimonials .swiper-slide {
  color: #fff;
  background-color: #13294E;
  border-radius: 10px;
}

.Testimonials .icon .icon-1 {
  width: 27px;
  height: 21px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Testimonials .icon .icon-2 {
  width: 80px;
  height: 80px;
  margin-bottom: 2rem;
}


/* end Testimonials */

/* start clients */

.clients {
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.clients h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.clients p {
  font-size: 16px;
  margin-bottom: 2rem;
  text-align: center;
}

.clients img {
  width: 100%;
}

/* end clients */

/* start Contact */

.Contact {
  /* background: url(../img/footer.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #13294E;
}

/* .Contact .container {
  height: 90vh;
} */

.padding {
  padding-bottom: 3rem;
}

.Contact p {
  margin-bottom: 0;
}

.Contact .p-1 {
  font-size: 14px;
  text-align: center;
}

.Contact h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 4rem;
}

.Contact h3 {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.Contact .porta {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Contact i {
  color: #233e6a;
}

.Contact i:hover {
  color: #FFF;
}

.Contact ul {
  text-align: center;
  list-style: none;
  margin-right: 3%;
}

.Contact ul li {
  display: inline-block;
  text-align: center;
  padding: 0.5%;
}

.Contact form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: #fff;
}

.Contact form input {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 3px;
  padding: 1%;
  width: 60%;
  margin-bottom: 1rem;
}

.Contact form textarea {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 3px;
  padding: 1%;
  width: 60%;
  margin-bottom: 1rem;
  outline: none;
}

.Contact .send {
  color: #fff;
  font-size: 14px;
  padding: 1%;
  background-color: #009BDB;
  width: 17%;
  border: none;
  outline: none;
  border-radius: 24px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.Contact .copy {
  font-size: 12px;
  text-align: center;
}

.Contact .pop-3 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

::placeholder {
  color: #FFF;
  opacity: 1; /* Firefox */
}

.plus {
  text-decoration: none;
  color: #FFF;
}
.plus:hover {
  text-decoration: none;
  color: #FFF;
}

/* end Contact */
/* start madia */


@media only screen and (max-width: 320px) {
  .header h1 {
    font-size: 20px;
  }

  .navbar ul li {
    text-align: center;
  }

  .navbar .container {
    background-color: #041b43;
    opacity: .8;
  }
/* 
  .navbar {
    background-color: #4b40cf;
  } */

  .nav-link {
    padding: 0;
  }
  
  .navbar ul {
    text-align: center;
    float: none;
  }


  
  .header {
    background-position: center;
  }
  .header p {
    font-size: 12px;
  }

  .about {
    width: 100%;
  }

  .about h1 {
    font-size: 20px;
  }

  .about p {
    font-size: 12px;
  }

  
  .why h1 {
    font-size: 20px;
  }

  .why p {
    font-size: 12px;
  }

  .why .group {
  padding: 0;
  max-width: 95%;
  padding: 2rem;
  }
  
  .why .pad {
  display: block !important;
  }
  
  
  .album h1 {
    font-size: 20px;
  }

  .album p {
    font-size: 12px;
  }

  .album .album-img img {
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .clients h1 {
    font-size: 20px;
  }

  .clients p {
    font-size: 12px;
  }

  .clients {
    margin-bottom: 2rem;
  }

  
  .Contact h1 {
    font-size: 20px;
  }

  .Contact .p-1 {
    font-size: 12px;
  }

  .Contact .copy {
    font-size: 9px;
  }

  .Contact form input {
    width: 90%;
  }

  .Contact form textarea {
    width: 90%;
  }

  .Contact .send {
    width: 50%;
    font-size: 12px;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }


  .Contact ul {
    margin-right: 2rem;
  }


}

@media (min-width: 321px) and (max-width: 425px) {
  .header h1 {
    font-size: 20px;
  }


  .navbar ul li {
    text-align: center;
  }

  .navbar .container {
    background-color: #041b43;
    opacity: .8;
  }
/* 
  .navbar {
    background-color: #4b40cf;
  } */

  .nav-link {
    padding: 0;
  }
  
  .navbar ul {
    text-align: center;
    float: none;
  }

  
  .clients {
    margin-bottom: 2rem;
  }

  .header p {
    font-size: 12px;
  }

  
  .header {
    background-position: center;
  }

  .about {
    width: 100%;
  }

  .about h1 {
    font-size: 20px;
  }

  .about p {
    font-size: 12px;
  }

  
  .why h1 {
    font-size: 20px;
  }

  .why p {
    font-size: 12px;
  }

  .why .group {
  padding: 0;
  max-width: 95%;
  padding: 2rem;
  }
  
  .why .pad {
  display: block !important;
  }
  
  .album h1 {
    font-size: 20px;
  }

  .album p {
    font-size: 12px;
  }

    .album .album-img img {
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .clients h1 {
    font-size: 20px;
  }

  .clients p {
    font-size: 12px;
  }

  
  .Contact h1 {
    font-size: 20px;
  }

  .Contact .p-1 {
    font-size: 12px;
  }

  .Contact .copy {
    font-size: 9px;
  }

  .Contact form input {
    width: 90%;
    font-size: 12px;
  }

  .Contact form textarea {
    width: 90%;
    font-size: 12px;
  }

  .Contact .send {
    width: 50%;
    font-size: 12px;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .Contact ul {
    margin-right: 2rem;
  }



}

@media (min-width: 426px) and (max-width: 768px) {

  .about p {
    font-size: 13px;
  }

  .header {
    background-position: center;
  }

  .navbar ul li {
    text-align: center;
  }

  .navbar .container {
    background-color: #041b43;
    opacity: .8;
  }
/* 
  .navbar {
    background-color: #4b40cf;
  } */

  .nav-link {
    padding: 0;
  }
  
  .navbar ul {
    text-align: center;
    float: none;
  }

}


/* end madia */

